<p id="notice"><%= notice %></p>

<p>
  <strong>Series:</strong>
  <%= @list.series %>
</p>

<p>
  <strong>Description:</strong>
  <%= @list.description %>
</p>

<p>
  <strong>Users:</strong>
  <%= @list.users %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
