<p id="notice"><%= notice %></p>

<h1>Series</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th>Status</th>
      <th>Img</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="bg-secondary border border-danger">
    <% @series.each do |series| %>
      <tr>
        <td><%= series.name %></td>
        <td><%= series.year %></td>
        <td><%= series.status %></td>
        <% if series.images.attached? %>
       <td><%=image_tag series %></td>
           <% end %>
        <td><%= link_to 'Show', series %></td>
        <td><%= link_to 'Edit', edit_serie_path(series) %></td>
        <td><%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Series', new_serie_path %>

<div id="carouselExampleIndicators" class="carousel slide text-center" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-inner">
    <% @series.each do |serie| %>
        <div class="carousel-item active">
            <%= serie.image %>
        </div>
        <div class="carousel-item">
            <%= serie.name %>
        </div>
        <div class="carousel-item">
            <%=serie.year %>
        </div>
    <% end %>
</div>
</div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
