<p id="notice"><%= notice %></p>

<h1 class="text-center">Series</h1>


<button type="button" class="btn btn-danger"><%= link_to 'New Series', new_serie_path %></button>
<br>
<br>

<br>
<br>
<br>
<br>
<table class= "table table-bordered">
  <thead class="bg-danger">
    <tr>
      <th>Nombre</th>
      <th>Año</th>
      <th>Finalizada</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="bg-success border border-danger">
    <% @series.each do |series| %>
      <tr>
        <td><%= series.name %></td>
        <td><%= series.year %></td>
        <td><%= series.status %></td>
        <td><%= link_to 'Ver', series %></td>
        <td><%= link_to 'Editar', edit_serie_path(series) %></td>
        <td><%= link_to 'Destruir', series, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<br>
<br>
<br>
<div id="carouselSeries" class="carousel slide text-center" data-ride="carousel" style="">
<div class="carousel-inner">
<div class="carousel-item active" >
      <h2> Series De Anime </h2>
</div>

  <% @series.each_slice(3) do |series| %>
    <div class="carousel-item " >
      <div class="card-deck">
        <% series.each do |serie| %>
          <div class="card" style=" max-width: 1024px; max-height: 728px ">
           <% if serie.images.attached? %>        
              <%= image_tag serie.images %>
           <% else %>
              <h2><%= "No hay imagen" %></h2>
           <% end %>
          </div>
         
        <% end %>
      </div>
    </div>
  <% end %>
</div>

</div>
 