<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @serie.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @serie.year %>
</p>


<p>
  <strong>Status:</strong>
  <%= @serie.status %>
</p>

<p>
  <strong>Img:</strong>
  <%= @serie.img %>
</p>

<%= link_to 'Edit', edit_serie_path(@serie) %> |
<%= link_to 'Back', series_path %>
