<p id="notice"><%= notice %></p>



<div class="card" style="width: 18rem text-center;">
  <img src= image_tag Serie class="card-img-top" >
  <div class="card-body">
  <p class="card-text">
  <strong>Name:</strong>
  <%= @serie.name %>
</p>

<p class="card-text" style="text-center">
  <strong>Year:</strong>
  <%= @serie.year %>
</p>


<p class="card-text" style="text-center">
  <strong>Status:</strong>
  <%= @serie.status %>
</p>

<p class="card-text">
<%= image_tag Serie %>
</p>
  </div>
</div>
<%= link_to 'Edit', edit_serie_path(@serie) %> |
<%= link_to 'Back', series_path %>



<h3>Comments: </h3>
<% if @serie.comments.empty? %>
    
    <div class="card" style="width: 18rem;">    
      <h5 class="card-body">Sin comentarios</h5>
    </div>  
   



<% else %>
  <% @serie.comments.each do |post| %>

    <div class="card" style="width: 18rem;">    
    <h5 class="card-body"><%= post.content %></h5>
    </div>

  <% end %>
<% end %>

<%= link_to "Add Comment", new_serie_comment_path(serie_id: @serie.id) %>

