<p id="notice"><%= notice %></p>



<div class="card bg-secondary border border-danger rounded">
  
  <div class="card-body">
<p class="card-text">
    <%= image_tag Serie %>
</p>
  <p class="card-text">
  <strong>Name:</strong>
  <%= @serie.name %>  
</p>

<p class="card-text">
  <strong>Year:</strong>
  <%= @serie.year %>
</p>


<p class="card-text">
  <strong>Status:</strong>
  <%= @serie.status %>
</p>


</div>
</div>
<%= link_to 'Edit', edit_serie_path(@serie) %> |
<%= link_to 'Back', series_path %>


<div class="text-center">
  <h3>Comments: </h3>
  <% if @serie.comments.empty? %>
    <div class="card" style="width: 18rem;">    
    <h5 class="card-body">Sin comentarios</h5>
    </div>  
<% else %>
  <% @serie.comments.each do |post| %>

    <div class="card" style="width: 18rem;">    
    <h5 class="card"><%= post.content %></h5>
    </div>

  <% end %>
<% end %>
</div>
<%= link_to "Add Comment", new_serie_comment_path(serie_id: @serie.id) %>

